body {
    margin: 0;
    background: #111;
}

.skin-select {
    position: fixed;
    top: 8px;
    right: 8px;
    z-index: 9999;
    font-size: 12px;

    background: #333;
    color: #eee;
    border: 1px solid #555;
    border-radius: 2px;
    padding: 2px 4px;
}
